extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Tomatodos de Acero","s/.130.00","Extractor-Oster-600W.jpg")
				+card("Batidora Oster","s/.130.00","licuadora-Oster-3V-700W.jpg")
				+card("Juego de Ollas Aluminio","s/.130.00","licuadora-jhumy.jpg")
				+card("Juego de Ollas Aluminio con Tapa Roja","s/.130.00","licuadora-Oster-boton-Rojo.jpg")
				+card("Olla a Presion Clock","s/.130.00","hervidor-scarlett-2.jpg")
				+card("Cocina Electrica  Modelo Plancha","s/.130.00","licuadora-Oster-PRO-700W.jpg")
				+card("Planca Record","s/.130.00","20210927_123454.jpg")
				+card("Planca Record","s/.130.00","Plancha-Oster-5954-vertical.jpg")
			section.banner
				.banner__container
	 




					
		