extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section.banner
				.banner__container
				
					  	  
			section(id="articulos")
					+card("Tomatodos de Acero","s/.130.00","ROP-MADERA-3-CUERPOS.jpg")
					+card("Batidora Oster","s/.130.00","Rop-3C-Madera-MAS-PARRILLAS.jpg")
					+card("Juego de Ollas Aluminio","s/.130.00","Ropero-Esquinero-EST.jpg")
					+card("Juego de Ollas Aluminio con Tapa Roja","s/.130.00","Ropero-tubos-3-cuerpos.jpg")
					+card("Olla a Presion Clock","s/.130.00","Ropero-Mediano-3-Cuerpos.jpg")
					+card("Cocina Electrica  Modelo Plancha","s/.130.00","Rop-4-colgadores.jpg")
					+card("Planca Record","s/.130.00","Rop-Tubos-2-Cuerpos.jpg")
					+card("Cocina Electrica  Modelo Plancha","s/.130.00","Zapateras.jpg")
					+card("Planca Record","s/.130.00","Estante-de-Bannio-blanco.jpg")
				
	 







