* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: radial-gradient(78.14% 78.14% at 100% 32.09%, #4247C7 64.06%, #2DC661 100%);
}

header {
  background: linear-gradient(90.07deg, #4247C7 0.42%, #3A61C5 47.66%, #2DC661 103.07%);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo img {
  margin-right: 5px;
  height: 24px;
}
header .logo h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
header .menu img {
  height: 16px;
}

main {
  height: auto;
}

.categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border-radius: 0;
}

.categorias__container {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}
.categorias__container img {
  width: 40px;
  border-radius: 10px;
}

.banner {
  width: auto;
  height: 210px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

.articulos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4px 1fr 4px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.articulos__container {
  padding: 6px;
  margin: 10px 10px 10px 0px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(255, 255, 255, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}
.articulos__container .detalles {
  margin-left: 10px;
  margin-top: 7px;
}
.articulos__container .detalles p {
  font-size: 1rem;
  font-weight: 500;
}
.articulos__container .detalles h1 {
  font-family: "Baloo Bhaina 2";
  color: #C71E1A;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: -5px;
}

.articulos__container img {
  display: block;
  width: 100%;
}

.masonry-layout {
  --columns:1;
  --gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap/2);
  padding-left: 10px;
}
.masonry-layout .masonry-item {
  margin-bottom: var(--gap);
}
.masonry-layout.columns-1 {
  --columns: 1;
}
.masonry-layout.columns-2 {
  --columns: 2;
}
.masonry-layout.columns-3 {
  --columns: 3;
}
.masonry-layout.columns-4 {
  --columns: 4;
}

footer {
  background: linear-gradient(90.07deg, #4247C7 0.42%, #3A61C5 47.66%, #2DC661 103.07%);
  height: 39px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer img {
  height: 30px;
}