section.categorias
	+card-categoria("Roperos","wardrobe.png","Icono de Roperos","./index.html")
	+card-categoria("Electro","licuadora.png","Icono de Artefactos","./electro.html")
	+card-categoria("Termos","termo.png","Icono de Thermos")
	+card-categoria("Mochilas","mochila.png","Icono de Mochilas")
	+card-categoria("Cocina","sarten.png","Icono de Sartén")
	+card-categoria("Belleza","belleza.png","Icono de Corte de Cabello")
	+card-categoria("Roperos","wardrobe.png","Icono de Roperos")
	+card-categoria("Electro","licuadora.png","Icono de Artefactos")
	+card-categoria("Termos","termo.png","Icono de Thermos")
	+card-categoria("Mochilas","mochila.png","Icono de Mochilas")
	+card-categoria("Cocina","sarten.png","Icono de Sartén")
	+card-categoria("Belleza","belleza.png","Icono de Corte de Cabello")